@model ProjectNhom12.Models.Hocphan

@{
    ViewData["Title"] = "DetailsHP";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}

<h1>DetailsHP</h1>

<div>
    <h4>Hocphan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hocky)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hocky)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giangvien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giangvien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMhNavigation.MaMh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditHP" asp-route-id="@Model.MaHp">Edit</a> |
    <a asp-action="DSLHP">Back to List</a>
</div>
