@model IEnumerable<ProjectNhom12.Models.Monhoc>

@{
    ViewData["Title"] = "dsMon";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}
<h1>Danh sách môn quản lý</h1>
<p>
    <a asp-action="CreateMH">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinchi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhoaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenMh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinchi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoaNavigation.MaKhoa)
            </td>
            <td>
                <a asp-action="EditMH" asp-route-id="@item.MaMh">Edit</a> |
                <a asp-action="DetailsMH" asp-route-id="@item.MaMh">Details</a> |
                <a asp-action="DeleteMH" asp-route-id="@item.MaMh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
