@model IEnumerable<ProjectNhom12.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngayvaolam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhNv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioitinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhoaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNvNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngayvaolam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoaNavigation.MaKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNvNavigation.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNv">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNv">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
