@model ProjectNhom12.Models.Khoa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Khoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThongTinKhoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThongTinKhoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaKhoa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
