@model ProjectNhom12.Models.Sinhvien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Sinhvien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Manage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSv" class="control-label"></label>
                <input asp-for="MaSv" name="MaSv" class="form-control" value="@ViewBag.Ma" />
                <span asp-validation-for="MaSv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSv" class="control-label"></label>
                <input asp-for="TenSv" name="Tensv" value="@ViewBag.TenSv"class="form-control" />
                <span asp-validation-for="TenSv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nam" class="control-label"></label>
                <input asp-for="Nam" name="Namh" value="@ViewBag.Namh"class="form-control" />
                <span asp-validation-for="Nam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKhoa" class="control-label"></label>
                <select asp-for="MaKhoa" class ="form-control" asp-items="ViewBag.MaKhoa"></select>
            </div>
            <div class="form-group">
                <label asp-for="HinhSv" class="control-label"></label>
                <img src="~/HinhSV/@ViewBag.HinhSv" />
                <input type="file" name="fHinh" />
            </div>
            <div class="form-group">
                <label asp-for="Gioitinh" class="control-label"></label><br />
                <input asp-for="Gioitinh" type="radio" name="Gioitinh" value="@ViewBag.Gioitinh"  />Nam
                <input asp-for="Gioitinh" type="radio" name="Gioitinh" value="@ViewBag.Gioitinh"  />Nữ
                <span asp-validation-for="Gioitinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmnd" class="control-label"></label>
                <input asp-for="Cmnd" name="Cmnd" value="@ViewBag.Cmnd" class="form-control" />
                <span asp-validation-for="Cmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" name="DiaChi"value="@ViewBag.DiaChi" class="form-control" />
                <span asp-validation-for="Diachi"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="command" value="Lưu" class="btn btn-primary" />
                <a asp-route-command="Mở" asp-action="Manage" class="btn btn-danger">Mở</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
