@model ProjectNhom12.Models.Sinhvien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sinhvien</h4>
    <hr />
    <table border="1" align="center" style="border-collapse: collapse;">
        <thead class="row">
            <tr>
              </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaSv)
                </th>

                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pass)
                </th>

                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TenSv)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nam)
                </th>
                
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Gioitinh)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cmnd)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Diachi)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaKhoaNavigation)
                </th>
            </tr>
            <tr>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.MaSv)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Pass)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.TenSv)
                </td>
                
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Nam)
                </td>
                
                
                
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Gioitinh)
                </td>
                
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Cmnd)
                </td>
                
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Diachi)
                </td>
                
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.MaKhoaNavigation.MaKhoa)
                </td>
            </tr>
        </thead>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
