@model IEnumerable<ProjectNhom12.Models.Sinhvien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<table class="table" border="1" style="border-collapse: collapse">
    <thead >
        <tr>
            <th>
                Mã số sinh viên
            </th>
            <th>
                Tên sinh viên
            </th>
            <th>
                Năm
            </th>
            <th>
                file ảnh
            </th>
            <th>
                Giới tính
            </th>
            <th>
                CMND
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Khoa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhSv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoaNavigation.TenKhoa)
            </td>
        </tr>
}
    </tbody>
</table>
